In [15]:
# A good practice is to put required external packages in the first cell of the file
%pip install -q nltk matplotlib pandas gensim wordcloud openpyxl

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Followed by a list of imports in the next cell
import pandas as pd
import matplotlib as plt    # Conventional short names for packages
import nltk
import gensim

# nltk also requires downloading additional modules for functional tokenizer
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /home/mike-pech/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/mike-
[nltk_data]     pech/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

#### Load your dataset into a DataFrame

In [2]:
data = pd.read_excel("./data/Coffee Shop Sales.xlsx")

In [3]:
data.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  datetime64[ns]
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 12.5+ MB

In [10]:
data[100:150]

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
100,101,2023-01-01,10:51:17,1,5,Lower Manhattan,47,3.00,Tea,Brewed Green tea,Serenity Green Tea Lg
101,102,2023-01-01,10:52:44,2,8,Hell's Kitchen,23,2.50,Coffee,Drip coffee,Our Old Time Diner Blend Rg
102,103,2023-01-01,10:52:44,1,8,Hell's Kitchen,73,3.75,Bakery,Pastry,Almond Croissant
103,104,2023-01-01,10:56:14,1,5,Lower Manhattan,38,3.75,Coffee,Barista Espresso,Latte
104,105,2023-01-01,10:56:14,1,5,Lower Manhattan,76,3.50,Bakery,Biscotti,Chocolate Chip Biscotti
105,106,2023-01-01,11:01:48,1,3,Astoria,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm
106,107,2023-01-01,11:01:58,1,3,Astoria,38,3.75,Coffee,Barista Espresso,Latte
107,108,2023-01-01,11:01:58,1,3,Astoria,75,3.50,Bakery,Pastry,Croissant
108,109,2023-01-01,11:03:25,2,5,Lower Manhattan,47,3.00,Tea,Brewed Green tea,Serenity Green Tea Lg
109,110,2023-01-01,11:03:25,1,5,Lower Manhattan,75,3.50,Bakery,Pastry,Croissant
110,111,2023-01-01,11:04:32,2,8,Hell's Kitchen,39,4.25,Coffee,Barista Espresso,Latte Rg
111,112,2023-01-01,11:08:11,1,3,Astoria,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
112,113,2023-01-01,11:08:59,2,8,Hell's Kitchen,51,3.00,Tea,Brewed Black tea,Earl Grey Lg
113,114,2023-01-01,11:09:01,1,3,Astoria,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
114,115,2023-01-01,11:10:21,1,3,Astoria,47,3.00,Tea,Brewed Green tea,Serenity Green Tea Lg
115,116,2023-01-01,11:10:21,1,3,Astoria,79,3.75,Bakery,Scone,Jumbo Savory Scone
116,117,2023-01-01,11:10:58,1,3,Astoria,46,2.50,Tea,Brewed Green tea,Serenity Green Tea Rg
117,118,2023-01-01,11:12:29,1,3,Astoria,43,3.00,Tea,Brewed herbal tea,Lemon Grass Lg
118,119,2023-01-01,11:16:02,2,3,Astoria,45,3.00,Tea,Brewed herbal tea,Peppermint Lg
119,120,2023-01-01,11:21:00,2,8,Hell's Kitchen,54,2.50,Tea,Brewed Chai tea,Morning Sunrise Chai Rg
120,121,2023-01-01,11:21:04,2,5,Lower Manhattan,51,3.00,Tea,Brewed Black tea,Earl Grey Lg
121,122,2023-01-01,11:21:14,1,3,Astoria,60,3.75,Drinking Chocolate,Hot chocolate,Sustainably Grown Organic Rg
122,123,2023-01-01,11:23:01,1,8,Hell's Kitchen,31,2.20,Coffee,Gourmet brewed coffee,Ethiopia Sm
123,124,2023-01-01,11:23:43,2,5,Lower Manhattan,60,3.75,Drinking Chocolate,Hot chocolate,Sustainably Grown Organic Rg
124,125,2023-01-01,11:23:43,1,5,Lower Manhattan,77,3.00,Bakery,Scone,Oatmeal Scone
125,126,2023-01-01,11:25:35,2,3,Astoria,49,3.00,Tea,Brewed Black tea,English Breakfast Lg
126,127,2023-01-01,11:25:37,2,5,Lower Manhattan,40,3.75,Coffee,Barista Espresso,Cappuccino
127,128,2023-01-01,11:28:15,2,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg
128,129,2023-01-01,11:28:29,2,3,Astoria,33,3.50,Coffee,Gourmet brewed coffee,Ethiopia Lg
129,130,2023-01-01,11:29:25,2,5,Lower Manhattan,56,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg
130,131,2023-01-01,11:29:57,2,8,Hell's Kitchen,35,3.10,Coffee,Premium brewed coffee,Jamaican Coffee River Rg
131,132,2023-01-01,11:29:57,1,8,Hell's Kitchen,78,4.50,Bakery,Scone,Scottish Cream Scone
132,133,2023-01-01,11:30:22,1,8,Hell's Kitchen,23,2.50,Coffee,Drip coffee,Our Old Time Diner Blend Rg
133,134,2023-01-01,11:31:35,1,8,Hell's Kitchen,24,3.00,Coffee,Drip coffee,Our Old Time Diner Blend Lg
134,135,2023-01-01,11:31:43,2,5,Lower Manhattan,51,3.00,Tea,Brewed Black tea,Earl Grey Lg
135,136,2023-01-01,11:31:43,1,5,Lower Manhattan,72,3.25,Bakery,Scone,Ginger Scone
136,137,2023-01-01,11:31:53,2,5,Lower Manhattan,54,2.50,Tea,Brewed Chai tea,Morning Sunrise Chai Rg
137,138,2023-01-01,11:31:53,1,5,Lower Manhattan,75,3.50,Bakery,Pastry,Croissant
138,139,2023-01-01,11:39:14,1,5,Lower Manhattan,60,3.75,Drinking Chocolate,Hot chocolate,Sustainably Grown Organic Rg
139,140,2023-01-01,11:39:14,1,5,Lower Manhattan,71,3.75,Bakery,Pastry,Chocolate Croissant
140,141,2023-01-01,11:40:26,2,3,Astoria,52,2.50,Tea,Brewed Chai tea,Traditional Blend Chai Rg
141,142,2023-01-01,11:43:57,2,3,Astoria,25,2.20,Coffee,Organic brewed coffee,Brazilian Sm
142,143,2023-01-01,11:44:09,1,5,Lower Manhattan,38,3.75,Coffee,Barista Espresso,Latte
143,144,2023-01-01,11:47:13,1,3,Astoria,30,3.00,Coffee,Gourmet brewed coffee,Columbian Medium Roast Lg
144,145,2023-01-01,11:48:56,2,8,Hell's Kitchen,50,2.50,Tea,Brewed Black tea,Earl Grey Rg
145,146,2023-01-01,11:49:42,1,8,Hell's Kitchen,54,2.50,Tea,Brewed Chai tea,Morning Sunrise Chai Rg
146,147,2023-01-01,11:49:42,1,8,Hell's Kitchen,72,3.25,Bakery,Scone,Ginger Scone
147,148,2023-01-01,11:50:16,2,3,Astoria,26,3.00,Coffee,Organic brewed coffee,Brazilian Rg
148,149,2023-01-01,11:50:23,2,3,Astoria,36,3.75,Coffee,Premium brewed coffee,Jamaican Coffee River Lg
149,150,2023-01-01,11:50:58,2,5,Lower Manhattan,45,3.00,Tea,Brewed herbal tea,Peppermint Lg

#### Display the selected column

In [11]:
data["product_category"]

0                     Coffee
1                        Tea
2         Drinking Chocolate
3                     Coffee
4                        Tea
                 ...
149111                   Tea
149112                   Tea
149113                   Tea
149114                Coffee
149115              Flavours
Name: product_category, Length: 149116, dtype: object

#### Display several selected columns

Note the syntax — we pass in a **list** of desired column names as an index

In [14]:
data[["product_category", "store_id", "store_location"]]

          product_category  store_id   store_location
0                   Coffee         5  Lower Manhattan
1                      Tea         5  Lower Manhattan
2       Drinking Chocolate         5  Lower Manhattan
3                   Coffee         5  Lower Manhattan
4                      Tea         5  Lower Manhattan
...                    ...       ...              ...
149111                 Tea         8   Hell's Kitchen
149112                 Tea         8   Hell's Kitchen
149113                 Tea         8   Hell's Kitchen
149114              Coffee         8   Hell's Kitchen
149115            Flavours         8   Hell's Kitchen

[149116 rows x 3 columns]

#### With selection you are able to create new DataFrames from existing ones